/* SYLING FOR PROJECT GALLERY PAGE */
.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-md);
    align-items: center;
    justify-content: center;
}

.project-card { /* Individual project card styling */
    background-color: var(--secondary-color);
    width: 100%;
    max-width: 300px;
    flex: 1 1 250px; /* flexible width */
    text-align: center;
    color: var(--text-color);
}
.project-card img {
    width: 80%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    display: block;
    margin: var(--space-md) auto 0 auto; /* center image */
}

.filter-buttons { /* Container for filter buttons */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--space-sm);
    align-items: center;
    margin-bottom: var(--space-md);
}

/* Filter button styling */
.filter-btn {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-family: var(--font-text);
    font-size: var(--fs-normal);
    padding: var(--space-sm) var(--space-md);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.filter-btn:hover {
    background-color: var(--accent-color);
}
.filter-btn.active {
    background-color: var(--accent-color);
    font-weight: bold;
}

.project-count {
    text-align: center;
    font-family: var(--font-text);
    color: var(--text-color);
    font-size: var(--fs-normal);
    margin-bottom: var(--space-md);
}

.project-card { /* Project card styling */
    min-height: 400px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;    /* fade-in and slide-up animation */
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.project-card.visible { /* Class to trigger visibility */
    opacity: 1;
    transform: translateY(0);
}

.project-card:hover {
    box-shadow:  var(--bs-color) 0px 0px 15px; /* stronger shadow */
    transform: scale(1.05); /* slight enlarge on hover */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media only screen and (max-width: 600px) {
    .filter-btn{
        flex: 1 1 100%; /* full width buttons on small screens */
        height: auto;
        font-size: var(--fs-small);
    }
}